.menu-mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: fixed;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    max-height: calc(var(--vh, 1vh) * 100);
    top: 0;
    left: 0;
    padding-top: 90px;

    font-family: var(--text-family-main, sans-serif);
    font-size: 12px;
    font-weight: var(--text-weight-bold, 600);

    background-color: var(--white, #FFFFFF);

    z-index: 100;

    overflow-y: auto;
}

.menu-mobile__logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.menu-mobile__contacts {


    line-height: 16px;

    text-align: center;
}

.menu-mobile__contacts-p {
    margin: 0 0 2px 0;
    padding: 0;
}

.menu-mobile__contacts-p:last-of-type {
    margin: 0;
}

.menu-mobile__items {
    margin: 0 0 5px 0;
    padding: 0;

    line-height: 16px;

    text-align: center;
    text-transform: uppercase;

    list-style: none;
}

.menu-mobile__item {
    margin-bottom: 8px;
}

.menu-mobile__item:last-of-type {
    margin-bottom: 0;
}

.menu-mobile__link {
    padding-bottom: 3px;

    color: var(--black-light, #3C3C3C);

    text-decoration: none;

    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.menu-mobile__link:hover, .menu-main__link:focus {
    color: var(--black-light, #3C3C3C);

    text-shadow: 0 0 1px var(--link-normal-color_hover, #3C3C3C);
}

.menu-mobile__motto {
    margin: 5px 0;
}
