.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    min-width: 120px;
    padding: 12px 24px;

    color: var(--button-normal-color, #FFFFFF);
    font-family: var(--text-family-main, sans-serif);
    font-size: 16px;
    font-weight: 500;

    line-height: 23px;
    text-align: center;

    background-color: var(--black, #000000);
    border: 2px solid var(--black, #000000);
    border-radius: 8px;

    outline: none;

    cursor: pointer;
}

.button:hover {
    background-color: var(--black-ligh, #3C3C3C);

    border: 2px solid var(--black-ligh, #3C3C3C);
}

.button_outlined {
    color: var(--black, #000000);

    background-color: var(--white, #FFFFFF);

    border: 2px solid var(--black, #000000);
}

.button_outlined:hover {
    background-color: var(--gray-lighter, #E0E0E0);
}

@media (max-width: 800px) {
    .button {
        padding: 10px 16px;

        font-size: 14px;
        font-weight: 400;
    }
}
