.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    padding: 10px 12px;

    color: var(--button-normal-color, #FFFFFF);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 16px);
    font-weight: var(--text-weight-bold, 600);

    line-height: var(--text-line-height-main, 20px);
    text-align: center;

    background-color: var(--button-normal-background-color, #000000);
    border: 2px solid var(--button-normal-border-color, #000000);
    border-radius: var(--border-radius-button, 8px);

    outline: none;

    cursor: pointer;
}

.button:hover {
    background-color: var(--button-normal-background-color_hover, #3C3C3C);

    border: 2px solid var(--button-normal-background-color_hover, #3C3C3C);
}

.button_outlined {
    color: var(--button-outlined-color, #000000);

    background-color: var(--button-outlined-background-color, #FFFFFF);

    border: 2px solid var(--button-normal-border-color, #000000);
}

.button_outlined:hover {
    background-color: var(--button-outlined-background-color_hover, #EFEFEF);
}

a.button {
    text-decoration: none;
}

@media (max-width: 800px) {
    .button {
        padding: 8px 10px;

        font-size: var(--text-size-main_mobile, 14px);
        font-weight: var(--text-weight-strong, 400);
    }
}
