.card-single {
    display: block;

    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 16px);
    font-weight: var(--text-weight-main, 300);

    line-height: var(--text-line-height-main, 20px);
}

.card-single__image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.card-single__content {
    padding: 16px;
}

.card-single__title {
    margin-bottom: 20px;

    font-size: var(--text-size-large, 18px);
    font-weight: var(--text-weight-bold, 600);

    text-align: center;
}

.card-single__description {
    margin-bottom: 20px;

    line-height: var(--text-line-height-main, 20px);
}

@media (max-width: 900px) {
    .card-single__title {
        margin-bottom: 10px;

        font-size: var(--text-size-large_mobile, 16px);
    }
}