.card-showroom {
    position: relative;
    display: block;
    height: 280px;
    min-height: 0;
    padding: 30px;

    color: var(--white, #FFFFFF);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-smaller, 16px);
    font-weight: 300;

    border-radius: 10px;
    box-shadow: 4px 4px 24px rgba(4, 13, 42, 0.01);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);

    overflow: hidden;

    transition: filter, box-shadow 0.3s ease-in-out;
}

.card-showroom:hover {
    box-shadow: 4px 4px 24px rgba(4, 4, 4, 0.3);
}

.card-showroom__title {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
    padding-right: 18px;

    font-size: 22px;
    font-weight: 500;

    background-image: url("../images/arrow-right.svg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 26px;

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    z-index: 10;
}

.card-showroom__link {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    cursor: pointer;
    z-index: 50;
}

.card-showroom:hover .card-showroom__title {
    color: #FFFFFF;

    background-image: url("../images/arrow-right_hover.svg");
}

.card-showroom__description {
    position: absolute;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);

    line-height: 20px;

    z-index: 10;
}

.card-showroom__info-title {
    margin: 0 0 2px;

    font-weight: var(--text-weight-strong, 400);
}

.card-showroom__info {
    margin: 0 0 2px;
}

.card-showroom__link:hover .card-showroom__description {
    color: #FFFFFF;
}

.card-showroom__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 0;

    filter: blur(1px);
}

.card-showroom:hover .card-showroom__image {
    filter: none;
}

@media (max-width: 480px) {
    .card-showroom {
        padding: 20px;
    }

    .card-showroom__description {
        right: 20px;
        bottom: 20px;
        left: 20px;
    }
}
