.card-showroom {
    position: relative;
    display: block;
    height: 280px;
    padding: 30px;

    color: var(--white, #FFFFFF);
    font-family: var(--text-family-main, sans-serif);
    font-size: 14px;
    font-weight: 300;

    background-color: var(--black, #000000);

    border-radius: 10px;
    box-shadow: 4px 4px 24px rgba(4, 13, 42, 0.01);

    overflow: hidden;
}

.card-showroom__title {
    width: 100%;
    margin-bottom: 12px;
    padding-right: 18px;

    font-size: 18px;
    font-weight: 500;

    background-image: url("../images/arrow-right.svg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 26px;
}

.card-showroom__link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    color: var(--white, #FFFFFF);

    text-decoration: none;
    z-index: 1;
}

.card-showroom__link:hover {
    color: var(--link-normal-color_hover);

    text-decoration: none;
}

.card-showroom__link:hover .card-showroom__title {
    color: #CCCCCC;

    background-image: url("../images/arrow-right_hover.svg");
}

.card-showroom__description {
    line-height: 20px;
}

.card-showroom__link:hover .card-showroom__description {
    color: #CCCCCC;
}

.card-showroom__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 0;
}