/*
    ПРОЕКТ "АНО ТАКОЕ"
    ИМПОРТ ШРИФТОВ

    Последняя версия: 13.02.2025

    UPD: начальная версия
*/

/*Montserrat Medium*/
@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url("../../fonts/Montserrat-Medium.otf") format("truetype");
    font-display: swap;
}
/*Montserrat SemiBold*/
@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url("../../fonts/Montserrat-SemiBold.otf") format("truetype");
    font-display: swap;
}
/*Montserrat Bold*/
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url("../../fonts/Montserrat-Bold.otf") format("truetype");
    font-display: swap;
}
/*Montserrat ExtraBold*/
@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    src: url("../../fonts/Montserrat-ExtraBold.otf") format("truetype");
    font-display: swap;
}
/*Montserrat Black*/
@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    src: url("../../fonts/Montserrat-Black.otf") format("truetype");
    font-display: swap;
}
/*Roboto Light*/
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url("../../fonts/Roboto-Light.ttf") format("truetype");
    font-display: swap;
}
/*Roboto Regular*/
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
    font-display: swap;
}
/*Roboto Medium*/
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url("../../fonts/Roboto-Medium.ttf") format("truetype");
    font-display: swap;
}
/*Roboto Medium Italic*/
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: italic;
    src: url("../../fonts/Roboto-MediumItalic.ttf") format("truetype");
    font-display: swap;
}
/*Roboto Bold*/
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url("../../fonts/Roboto-Bold.ttf") format("truetype");
    font-display: swap;
}
