/*Montserrat Medium*/

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    src: url("../../fonts/Montserrat-Light.otf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url("../../fonts/Montserrat-Medium.otf") format("truetype");
    font-display: swap;
}
/*Montserrat SemiBold*/
@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url("../../fonts/Montserrat-SemiBold.otf") format("truetype");
    font-display: swap;
}
/*Roboto Light*/
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url("../../fonts/Roboto-Light.ttf") format("truetype");
    font-display: swap;
}
/*Roboto Regular*/
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
    font-display: swap;
}
/*Roboto Medium*/
@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    src: url("../../fonts/Roboto-Medium.ttf") format("truetype");
    font-display: swap;
}
