.hero-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 50px;
}

.hero-slider .owl-item {
    opacity: 0.3;
}

.hero-slider .owl-item.center {
    opacity: 1;
}

.hero-slider__button {
    display: flex;
    width: 40px;
    height: 40px;
    flex: 0 0 auto;

    justify-content: center;
    align-items: center;

    background-color: #EEEEEE;
    background-size: 12px 14px;
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    border-radius: 50%;

    outline: none;
    cursor: pointer;
}

.hero-slider__button:hover {
    background-color: #DDDDDD;
}

.hero-slider__button_prev {
    background-image: url("../images/arrow-left.svg");
}

.hero-slider__button_next {
    background-image: url("../images/arrow-right.svg");
}

.hero-slider__cards {
    width: calc(100% - 140px);

    margin: 0 20px;
}

.hero-slider__card {

}

.hero-slider__link {
    display: block;
}

.hero-slider__image {
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .hero-slider {
        grid-template-columns: auto;
    }

    .hero-slider__button {
        display: none;
    }

    .hero-slider__cards {
        width: 100%;
        margin: 0;
    }

    .hero-slider__card {
      width: 100%;
      margin: 0;
  }
}
