.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.products__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 50px;
    padding-top: 50px;


    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-weight: 300;
    font-size: 16px;

    flex-wrap: wrap;
}

.products__card {
    width: 24%;
    margin-bottom: 30px;
}

@media (max-width: 1200px) {
    .wrapper {
        padding-right: 16px;
        padding-left: 16px;
    }
}

@media (max-width: 900px) {
    .products__card {
        width: 49%;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .products__cards {
      display: block;
    }

    .products__card {
      width: 100%;
    }
  }
