.reviews {
    width: 100%;
    padding: 50px 0;

    background-color: #F5F5F5;
}

.reviews__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.reviews__title {
    margin-bottom: 25px;
}

.reviews__review {
    margin-bottom: 25px;
}


@media (max-width: 1200px) {
    .reviews__wrapper {
        padding: 0 16px;
    }

    .reviews__title {
        text-align: center;
    }
}
