.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.products-mini {
    overflow: auto;
}

.products-compare {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin-bottom: 50px;
    padding-top: 50px;

    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-weight: 300;
    font-size: 16px;

    background-color: var(--gray-white, #FFFFFF);

    overflow: auto;
}

.products-compare__section {
    grid-column: 1 / -1;
    padding: 10px 10px;

    font-weight: 500;

    background-color: var(--gray-light, #DCDCDC);
}

.products-compare__cell {
    min-width: 200px;
    padding: 10px 10px;    
}

.products-compare__cell_header {
    font-size: 18px;

    font-weight: 600;
}

.products-compare__props {
    list-style: none;

    padding: 0;
}

.products-compare__prop {
    padding-bottom: 8px;
}

.products-compare__prop:last-child {
    padding-bottom: 0;
}

@media (max-width: 900px) {
    .products-compare {
        font-size: 14px;
    }

    .products-compare__cell_header {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .products-compare__cell {
        width: 240px;  
    }
}

@media (max-width: 360px) {
    .products-compare__cell {
        width: 340px;  
    }
}