.wrapper {
    width: 100%;
    max-width: var(--max-content-width, 1920px);
}

.hero-single {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
    grid-template-areas: "image content" "gallery content";
    width: 100%;
    max-width: var(--wrapper-width, 1200px);
    margin: 0 auto 50px;
    padding-top: 25px;

    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-weight: var(--text-weight-main, 300);
    font-size: var(--text-size-main, 16px);

    background-color: var(--white, #FFFFFF)
}

.hero-single__image {
    grid-area: image;
    width: 100%;
    height: auto;
    /* margin-right: 2%; */
    margin-right: 5%;
}

.hero-single__gallery {
    grid-area: gallery;
    position: relative;
}

.hero-single__gallery-button {
    position: absolute;
    display: flex;
    top: 0;
    width: 30px;
    height: 100%;
    flex: 0 0 auto;

    justify-content: center;
    align-items: center;

    background-color: transparent;
    background-size: 12px 14px;
    background-position: center;
    background-repeat: no-repeat;

    border: none;

    cursor: pointer;
    outline: none;

    z-index: 10;

    transition: background-color 0.2s ease-in-out;
}

.hero-single__gallery:hover .hero-single__gallery-button {
    background-color: var(--gray-light, #EFEFEF);

    opacity: 0.5;
}

.hero-single__gallery-button_prev {
    left: 0;

    background-image: url("../images/arrow-left.svg");
}

.hero-single__gallery-button_next {
    right: 0;

    background-image: url("../images/arrow-right.svg");
}

.hero-single__photo_active {
    /* outline: 1px solid var(--gray, #A6A6A6);
    outline-offset: -1px; */
}

.hero-single__content {
    grid-area: content;
    /* padding-left: 2%; */
    padding-left: 5%;
}

.hero-single__title {
    margin-bottom: 10px;

    font-family: var(--text-family-featured, sans-serif);
    font-size: 26px;
    font-weight: 600;

    line-height: 28px;
}

.hero-single__price {
    margin-bottom: 20px;

    font-size: 28px;
    font-weight: var(--text-weight-bold, 600);
}

.hero-single__price_old {
    color: var(--black-light, #3C3C3C);
    font-size: 22px;
    font-weight: var(--text-weight-main, 300);

    text-decoration: line-through;
}

.hero-single__form {
    margin-bottom: 30px;
}

.hero-single__model {
    margin-bottom: 30px;

    font-size: var(--text-size-large, 18px);
    font-weight: var(--text-weight-bold, 600);
}

.hero-single__button {
    width: 100%;
    max-width: 200px;
    margin: 30px 0 50px;
}

.hero-single__benefits {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.hero-single__benefit {
    margin-right: 16px;
}

.hero-single__benefit:last-child {
    margin-right: 0;
}

@media (max-width: 800px) {
    .hero-single {
        display: block;
    }

    .hero-single__title {
        margin-top: 50px;
        margin-bottom: 20px;

        font-size: 22px;

        line-height: 24px;
    }

    .hero-single__price {
        font-size: 22px;
    }

    .hero-single__model {
        font-size: 16px;
        font-weight: var(--text-weight-strong, 400);
    }

    .hero-single__image {
        margin-right: 0;
    }

    .hero-single__content {
        padding-left: 0;
    }

    .hero-single__benefit {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .hero-single__button {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}
