.wrapper {
    width: 100%;
    max-width: 1920px;
}

.hero-single {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "image content" "photos content";
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px;
    padding-top: 50px;

    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-weight: 300;
    font-size: 18px;

    background-color: var(--white, #FFFFFF)
}

.hero-single__image {
    grid-area: image;
    width: 100%;
    height: auto;
    margin-right: 2%;
}

/* .hero-single__photos {
    grid-area: photos;
    display: flex;
    flex-direction: row;
    width: 100%;

    flex-wrap: wrap;
}

.hero-single__photo {
    width: 25%;
    height: auto;
    aspect-ratio: 1/1;

    overflow: hidden;
} */

.hero-single__photo_active {
    outline: 1px solid var(--gray, #A6A6A6);
    outline-offset: -1px
}

.hero-single__content {
    grid-area: content;
    padding-left: 2%;
}

.hero-single__title {
    margin-bottom: 50px;

    font-family: var(--text-family-featured, sans-serif);
    font-size: 26px;
}

.hero-single__price {
    margin-bottom: 30px;

    font-size: 28px;
    font-weight: 600;
}

.hero-single__price_old {
    color: var(--black-light, #3C3C3C);
    font-size: 22px;
    font-weight: 300;

    text-decoration: line-through;
}

.hero-single__model {
    font-weight: 600;    
}

.hero-single__button {
    width: 100%;
    max-width: 200px;
    margin: 30px 0 50px;
}

.hero-single__benefit {
    font-size: 14px;
}

.hero-slider__cards {
    width: calc(100% - 140px);

    margin: 0 20px;
}

.hero-slider__link {
    display: block;
}

.hero-slider__image {
    width: 100%;
    height: auto;
}

.hero-single__benefits {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.hero-single__benefit {
    margin-right: 16px;
}

.hero-single__benefit:last-child {
    margin-right: 0;
}

@media (max-width: 800px) {
    .hero-single {
        display: block;
    }

    .hero-single__image {
        margin-right: 0;
    }

    .hero-single__content {
        padding-left: 0;
    }
}

@media (max-width: 480px) {
    .hero-single__button {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}