html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 16px);
    font-weight: var(--text-weight-main, 300);

    line-height: var(--text-line-height-main, 20px);

    scrollbar-width: thin;
}

.hidden {
    display: none !important;
}

.wrapper {
    width: 100%;
    max-width: var(--wrapper-width, 1200px);
    margin: 0 auto;
    padding: 0;
}

.technology {
    margin-bottom: 50px;
    padding-top: 50px;
}

.technology__header {
    font-size: 50px;
    text-align: center;
}

.technology .post__p {
    font-size: var(--text-size-large, 18px);

    line-height: var(--text-line-height-large, 22px);

    text-align: center;
}

.block-image_adaptive {
    margin-bottom: 50px;
}

.block-image_lumbar {
    margin-bottom: 50px;
}

.block-image_new-style {
    margin-bottom: 50px;
}

.section-title_support__header {
    margin-bottom: 0;

    text-align: center;
}

.flex-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.flex-images__item {
    width: 33%;
}

.flex-images__image {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
}

.flex-images__title {
    font-weight: var(--text-weight-main, 600);

    line-height: var(--text-line-height-large, 22px);

    text-align: center;
}

.block-image_compare {
    margin-top: 100px;
}

.contacts {
    padding-top: 90px;
    margin-bottom: 90px;
}

@media (max-width: 1200px) {
    .content {
        padding: 124px 16px 70px;
    }

    .wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }

    .technology {
        margin-bottom: 20px;
        padding-top: 20px;
    }
}

@media (max-width: 900px) {
    .main {
        padding-top: 69px;
    }

    .technology__header {
        font-size: 20px;

        line-height: 24px;
    }
}

@media (max-width: 768px) {
    .flex-images {
        display: block;
    }

    .flex-images__item {
        width: 100%;
        margin-bottom: 20px;
    }

    .flex-images__image {
        margin-bottom: 10px;
    }

    .flex-images__title {
        font-size: var(--text-size-large_mobile, 16px);

        line-height: var(--text-line-height-large_mobile, 20px);
    }
}
