html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 16px);
    font-weight: var(--text-weight-main, 300);

    line-height: var(--text-line-height-main, 20px);

    scrollbar-width: thin;
}

.hidden {
    display: none !important;
}

.section-title_hero {
    padding-top: 20px;
    margin-bottom: 0;

    font-size: 60px;
    line-height: 60px;

    text-align: center;
}

.section-title__subtitle {
    font-size: 26px;
}

.hero-slider__cards {
    width: 100%;
    max-width: var(--max-content-width, 1920px);
    padding: 10px 0 0;
    margin: 0 0 100px;
}

.wrapper {
    width: 100%;
    max-width: var(--wrapper-width, 1200px);
    margin: 0 auto;
    padding: 0;
}

.section-table {
    margin-bottom: 50px;
    padding-top: 50px;

    text-align: center;
}

.section-table__header {
    font-size: 40px;
    text-align: center;
}


.block-image_compare {
    margin-top: 100px;
    margin-bottom: 75px;
}

.section-properties__header {
    margin-bottom: 0;

    text-align: left;
}

.section-properties .post__p {
    color: var(--red, #FF6666);
    font-weight: var(--text-weight-strong, 400);

    margin-bottom: 40px;
}

.single-slider {
    margin-bottom: 100px;
}

.contacts {
    margin-bottom: 90px;
}

@media (max-width: 1200px) {
    .content {
        padding: 124px 16px 70px;
    }

    .wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 900px) {
    .main {
        padding-top: 69px;
    }

    .section-title_hero {
        padding-top: 30px;

        font-size: 45px;
    }

    .section-title__subtitle {
        font-size: 20px;

        line-height: 26px;
    }

    .section-table__header {
        font-size: 30px;

        line-height: 36px;
    }
}

@media (max-width: 480px) {
    .section-title_hero {
        font-size: 35px;
    }

    .section-title__subtitle {
        font-size: 20px;

        line-height: 26px;
    }

    .section-table__header {
        font-size: 22px;

        line-height: 28px;
    }

    .section-properties__header {
        font-size: 22px;

        line-height: 28px;

        text-align: center;
    }
}
