html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 16px);
    font-weight: var(--text-weight-main, 300);

    line-height: var(--text-line-height-main, 20px);

    scrollbar-width: thin;
}

.hidden {
    display: none !important;
}

.wrapper {
    width: 100%;
    max-width: var(--wrapper-width, 1200px);
    margin: 0 auto;
    padding: 0;
}

.technology {
    margin-bottom: 50px;
    padding-top: 50px;
}

.block-image_features {
    margin-bottom: 10px;
}

.block-image_lumbar {
    margin-bottom: 10px;
}

.single-slider {
    display: block;
}

.single-slider__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: var(--wrapper-width, 1200px);
}

.card-single {
    width: 48%;
}

.horizontal-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--wrapper-width, 1200px);
    margin: 50px 0 0;
}

.horizontal-block:last-child {
    margin: 0 0 50px;
}

.horizontal-block__image {
    width: 48%;
}

.horizontal-block__content {
    width: 48%;
}

.horizontal-block__title {
    margin-bottom: 30px;

    font-size: 22px;
    font-weight: 600;
}

.horizontal-block__description {
    line-height: 24px;
}

.block-image_compare {
    margin-top: 100px;
}

.contacts {
    padding-top: 90px;
    margin-bottom: 90px;
}

@media (max-width: 1200px) {
    .content {
        padding: 124px 16px 70px;
    }

    .wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }

    .technology {
        margin-bottom: 20px;
        padding-top: 20px;
    }
}

@media (max-width: 900px) {
    .main {
        padding-top: 49px;
    }
}

@media (max-width: 768px) {   
    .single-slider__cards {
        display: block;
    }

    .card-single {
        width: 100%;
    }

    .horizontal-block {
        display: block;
        margin-bottom: 50px;
    }

    .horizontal-block__title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .horizontal-block__image {
        width: 100%;
        margin-bottom: 20px;
    }

    .horizontal-block__content {
        width: 100%;
    }
}