html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-weight: 300;
    font-size: 18px;

    scrollbar-width: thin;
}

.hidden {
    display: none !important;
}

.content {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 124px 0 150px;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.technology {
    margin-bottom: 50px;
    padding-top: 50px;
}

.technology .post__p {
    text-align: center;
}

.technology__header {
    font-size: 50px;
    text-align: center;
}

.block-image_features {
    margin-bottom: 10px;
}

.block-image_lumbar {
    margin-bottom: 10px;
}

.block-image_new-style {
    margin-bottom: 50px; 
}

.section-title_support__header {
    margin-bottom: 0;

    text-align: center;
}

.single-slider {
    display: block;
}

.single-slider__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}

.card-single {
    width: 48%;
}

.card-single__title {
    font-weight: 600;
}

.horizontal-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 50px 0 0;
}

.horizontal-block:last-child {
    margin: 0 0 50px;
}

.horizontal-block__image {
    width: 48%;
}

.horizontal-block__content {
    width: 48%;
}

.horizontal-block__title {
    margin-bottom: 30px;

    font-size: 22px;
    font-weight: 600;
}

.horizontal-block__description {
    line-height: 24px;
}

.flex-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.flex-images__item {
    width: 33%;
}

.flex-images__image {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
}

.flex-images__title {
    font-weight: 600;

    line-height: 24px;

    text-align: center;
}

.block-image_compare {
    margin-top: 100px;
}

.contacts {
    padding-top: 90px;
    margin-bottom: 90px;
}

@media (max-width: 1200px) {
    .content {
        padding: 124px 16px 70px;
    }

    .wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }

    .technology {
        margin-bottom: 20px;
        padding-top: 20px;
    }
}

@media (max-width: 900px) {
    .main {
        padding-top: 49px;
    }

    .technology__header {
        font-size: 20px;

        line-height: 24px;
    }
}

@media (max-width: 768px) {   
    .single-slider__cards {
        display: block;
    }

    .card-single {
        width: 100%;
    }
    
    .flex-images {
        display: block;
    }

    .flex-images__item {
        width: 100%;
        margin-bottom: 20px;
    }

    .flex-images__image {
        margin-bottom: 10px;
    }

    .flex-images__title {
        font-size: 16px;

        line-height: 18px;
    }

    .horizontal-block {
        display: block;
        margin-bottom: 50px;
    }

    .horizontal-block__title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .horizontal-block__image {
        width: 100%;
        margin-bottom: 20px;
    }

    .horizontal-block__content {
        width: 100%;
    }
}