body {
    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-weight: 300;
    font-size: 18px;
}

.hidden {
    display: none !important;
}

.hero-slider {
    width: 100%;
    max-width: 100%;
    margin: 50px auto;
}

.content {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 124px 0 150px;
}


.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 16px;
}

.technology__header {
    margin-bottom: 25px;
}


.projects__header {
    margin-bottom: 35px;
}

.projects {
    margin-bottom: 180px;
}

.contacts-us__header {
    margin-bottom: 36px;
}

@media (max-width: 1200px) {
    .content {
        padding: 124px 16px 70px;
    }

    .technology__header {
        margin-bottom: 15px;

        text-align: center;
    }
}
