.card-product {
    display: block;

    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-small, 14px);
    font-weight: var(--text-weight-main, 300);

    line-height: var(--text-line-height-small, 18px);

    box-shadow: 0px 5px 20px -8px #0000001F;

    transition: all 0.3s ease-in-out;
}

.card-product:hover {
    box-shadow: 4px 4px 24px rgba(4, 4, 4, 0.1);
}

.card-product__image-img {
    width: 100%;
    height: auto;
}

.card-product__content {
    padding: 20px;

    background-color: var(--white, #FFFFFF);
}

.card-product__title {
    margin-bottom: 20px;

    font-size: var(--text-size-large, 18px);
    font-weight: var(--text-weight-strong, 400);
}

.card-product__description {
    margin-bottom: 20px;
}

.card-product__price {
    margin-bottom: 20px;

    font-size: var(--text-size-large, 18px);
    font-weight: var(--text-weight-bold, 600);
}

.card-product__price-old {
    margin-left: 6px;

    color: var(--black-light, #3C3C3C);
    font-weight: var(--text-weight-main, 300);

    text-decoration: line-through;
}

.card-product__buttons {
    display: flex;
}

.card-product__button {
    margin-right: 10px;
}

.card-product__button:last-child {
    margin-right: 0;
}

@media (max-width: 900px) {
    .card-product__title {
        margin-bottom: 10px;

        font-size: 18px;
    }
}
