.section-title {
    margin: 0;
    padding: 0;

    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: 40px;
    font-weight: 700;

    line-height: 50px;

    margin-bottom: 40px;
}

@media (max-width: 1200px) {
    .section-title {
        text-align: center;
    }
}

@media (max-width: 900px) {
    .section-title {
        margin-bottom: 30px;

        font-size: 25px;
        line-height: 30px;
    }
}
